._Badge
	flex-direction: row
	background: #16a085
	padding: 0.25em 0.5em
	align-items: center
	justify-content: center
	border-radius: 5px
	white-space: nowrap

._Badge--Warning
	color: #FFF
	background: #ecc63e !important;

._Badge--Success
	color: #FFF
	background: #379d79 !important;

._Badge--Notice
	color: #FFF
	background: #379d79 !important;

._Badge--Danger
	color: #FFF
	background: #f35468 !important;

.text
	color: #FFF



