.wrapper
	flex-direction: row
	background: #16a085
	padding: 0 20px
	height: 40px
	align-items: center
	justify-content: center
	border-radius: 5px

._AsyncButton
	content: ' '
	display: inline-block
	width: 1em
	height: 1em
	vertical-align: -0.2em
	margin-right: .6em
	border: 2px solid
	border-left-color: transparent
	border-right-color: transparent
	border-radius: 5px
	animation: spin linear 2s infinite
		