.Wrapper
	display: flex

.Tabs__Control
	background: #FFF
	padding: 0 20px
	border-bottom: 1px solid #ececec

.Tabs__Title
	padding: 10px 20px
	cursor: pointer

.Tabs__Title__Active
	background: #16a085
	color: #FFF

.Tabs__Tab
	display: block
