._Tabs

	&__Control
		background: #FFF
		display: flex
		padding: 0 20px
		border-bottom: 1px solid $palette.border

	&__Title
		padding: 10px 20px
		cursor: pointer

		&--Active
			background: $palette.accent.background
			color: #FFF

	&__Tab
		display: block
