.wrapper
	alignItems: "center"
	justifyContent: "center"
	flex: 1

.table_head
	flexDirection: "row"
	border: 1px solid #ddd
	backgroundColor: #f1f3f7
	borderColor: #ddd

.table_head_captions
	fontSize: 12
	color: #95a5a6
	border: none
	padding: 5px 10px

.table_body_single_row
	backgroundColor: #fff
	flexDirection: "row"
	borderColor: #ececec

.table_data
	fontSize: 11

.table_cell
	padding: 5px 7px

.table
	justifyContent: "center"
	alignItems: "center"
	elevation: 1
	backgroundColor: #fff
