._Options

	&__Option
		padding: 5px 20px
		white-space: nowrap
		cursor: pointer

		&:hover
			background: $palette.descent.background

		&--Selected
			background: $palette.success.background
			color: #FFF